<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cvter.intern.dao.UserDao">

    <select id="getByUid" parameterType="java.lang.String" resultType="cvter.intern.model.User">
        SELECT id, uid, name, password, deleted, create_time createTime, update_time updateTime
        FROM user_info
        WHERE uid = #{uid}
    </select>

    <select id="getPaginate" resultType="cvter.intern.model.User">
        SELECT id, uid, name, password, deleted, create_time createTime, update_time updateTime
        FROM user_info
        LIMIT #{currentPage}, #{pageSize}
    </select>

    <insert id="save" parameterType="cvter.intern.model.User" useGeneratedKeys="true">
        INSERT INTO user_info(uid, name, password, create_time, update_time)
        VALUES (#{uid}, #{name}, #{password}, now(), now())
    </insert>

    <update id="update" parameterType="cvter.intern.model.User">
        UPDATE user_info
        SET
        name = #{name},
        password = #{password},
        update_time = #{updateTime}
        WHERE
        uid = #{uid}
    </update>

    <delete id="deleteByUid" parameterType="java.lang.Integer">
        UPDATE user_info
        SET
        update_time = #{updateTime},
        deleted = 1
        WHERE
        uid = #{uid}
    </delete>

    <delete id="delete" parameterType="cvter.intern.model.User">
        UPDATE user_info
        SET
        update_time = #{updateTime},
        deleted = 1
        WHERE
        uid = #{uid}
    </delete>

</mapper>